body {
    background: #fcb69f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(251, 47, 186, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #6441bc;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 120;
    border: 2px solid #6441bc;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button {
    padding: 10px 20px;
    font-size: size 16px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #6441bc;
    color: aliceblue;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s;
}

button.hover {
    background-color: #6441bc;
}

#resultText {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: aliceblue;
}